name: new-yaml-pipeline

on:
  push:
    branches:
      - main

jobs:
    Builds:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout repository
          uses: actions/checkout@v3

        - name: number 
          uses: ./.github/workflows/Number Guessing Game Action
          with:
            guess: 23
