name: new-yaml-pipeline

on:
  push:
    branches:
      - main

jobs:
    Builds:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout repository
          uses: actions/checkout@v3

        - name: number 
          run: python number-game.py 34
